
.spinner {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}
.spinner::before,
.spinner::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}
.spinner::before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(141deg, rgba(38,63,115,1) 4%, rgba(100,86,191,1) 97%);
    animation: spin 3s infinite linear;
}
.spinner::after{
    width: 85%;
    height: 85%;
    background-color: rgb(38,63,115);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}


